<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/errorStyle.css" rel="stylesheet">
    <link rel="icon" href="../static/img/favicon.ico">
    <title>Art Saucing - Error</title>
</head>

<body>
    <a href="/"><img class="logo" src="../static/img/logo.png" /></a>
    <div class="error">
        <div class="message">an error has occured<br>if you donated a refund has been sent</div>
        <a class="link" href="/">home</a>
    </div>
</body>

</html>